body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    max-width: 480px;
    margin: auto;
}

input[type="number"]{
    width: 6rem;
    padding: .25rem;

}
button{
    padding: .4rem .8rem;
    margin-left: 0.5rem;

}

#msg{
    margin-top: 1rem;
    font-weight: 600;
}

#try{
    color: #555;
    margin-top: .5rem;
}
